@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

body {
    width: 100%;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    color: #13628f;
    font-style: normal;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

h3 {
    font-weight: 500;
    font-size: 1.3rem;
}

p {
    margin: 10px;
    font-weight: 400;
    color: #5a5959;
    font-size: 1rem;
    text-align: center;
}

// Index Section //

.quienes {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.quienes__text {
    padding: 10px;
    margin: 10px;
}

.quienes__mision__vision {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    padding: 10px;
    margin: 10px;
    margin-top: -20px;
}

.quienes__mision {
    margin: 20px;
}

.quienes__vision {
    margin: 20px;
}

.servicios {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.servicios__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px; 
    margin: 0;
    padding: 20px;
}

.servicios__card {
    border: 1px solid #d2d2d2;
    border-radius: 30px;
    background-color: #f9f9f9;
}

.servicios__img {
    width: 60%;
}

.testimonios__content {
   margin: 30px;
   padding: 20px;
}

.testimonios__content p {
    font-style: italic;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #777777;
}

@media screen and (max-width: 1024px) {
    .servicios__content {
      grid-template-columns: repeat(3, 1fr);
    }
  }

@media screen and (max-width: 768px) { 
    .header {
        display: flex;
        flex-direction: column;
    }

    .servicios__content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 480px) {

    .header {
        position: relative;
    }

    .navbar {
        margin: 0;
        line-height: 2px
    }

    .navbar ul {
        flex-direction: column;
        width: 50vw;
    }

    .navbar__button {
        margin: 0;
    }

    .servicios__content {
      grid-template-columns: 1fr;
    }
  }